*.csv
*.zip
.ipynb_checkpoints/
*.mp4
C:\Users\Zbook\OpenClassRoom\Projet\Projet_2\Soutenance
FIG/
Projet_2/Soutenance/
Projet_2/FIG/
Projet_3/FIG/
Projet_2/Soutenance/archive.mp4
/Projet_2/Soutenance/
/Projet_2/FIG/
/Projet_3/FIG/
/Projet_2/Soutenance/archive.mp4
'C:\Users\Zbook\OpenClassRoom\Projet\Projet_2\Soutenance'
'*.csv'
'*.zip'
*.csv
*.zip
.ipynb_checkpoints
'.ipynb_checkpoints'
'*.mp4'
*.mp4
/FIG/
/Soutenance/
